#dy-restaurant-survey-box {
  width: 55%;
  background-image: url(/static/marinabaysands/headlibs/images/bg-pattern-lines.png);
  padding: 15px;
}
#dy-restaurant-survey-box .survey-container {
  padding: 23px 15px;
  border: 1px solid #d0af6d;
  border-radius: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dy-restaurant-survey-box .survey-container .text-container p {
  font-size: 15px;
}
.modal-backdrop {
  background-color: #fff !important;
}
#dy-survey-lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1051;
  padding: 1rem 0;
}
.survey-lightbox-container {
  width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-image: linear-gradient(-90deg, #fff 45%, #dbdbdb);
  border-radius: 0;
  border: 0 none;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
  padding: 28px;
  position: relative;
  transition: transform 0.3s ease-out;
  transform: translate(0) scale(0.8);
}
.survey-lightbox-container.result {
  width: 75%;
  margin-top: 0;
}
.modal.show .survey-lightbox-container {
  transform: translate(0) scale(1);
}
.survey-lightbox-container .survey-title {
  font-size: 30px;
  font-family: JosefinSans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.survey-lightbox-container .survey-steps {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  z-index: 20;
  position: relative;
}
.survey-lightbox-container.result .survey-steps {
  display: none !important;
}
.survey-lightbox-container .each-step {
  z-index: 1;
}
.survey-lightbox-container .step-no {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  background-color: white;
  color: #ac8c4c;
  border: 1px solid #ac8c4c;
}
.survey-lightbox-container .step-no.active {
  background-color: #ac8c4c;
  color: white;
}
.survey-lightbox-container .step-no.selected {
  background-color: #ac8c4c;
  color: white;
}
.survey-lightbox-container .step-no span.tick {
  display: none;
}
.survey-lightbox-container .step-no.selected span.tick {
  display: block;
}
.survey-lightbox-container .step-no.selected span.number {
  display: none;
}
.survey-lightbox-container .strike-through-line {
  height: 10px;
  width: 100%;
  position: absolute;
  border-top: 1px solid #ac8c4c;
  left: 0;
  bottom: 0;
}
.survey-options {
  display: none;
  margin-bottom: 1rem;
}
#dy-survey-lightbox.result .survey-options {
  margin-bottom: 2.5rem;
}
.survey-lightbox-container h3 {
  font-size: 20px;
  letter-spacing: 0.7px;
}
.survey-lightbox-container .survey-options-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-flow: wrap;
}
.survey-lightbox-container .survey-options.survey-result .result-card {
  list-style: none;
  flex: 0 1 32%;
}
.survey-lightbox-container .each-option {
  flex: 0 1 24.4%;
  list-style: none;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: white;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.survey-lightbox-container .each-option.checked {
  outline: 2px solid #d0af6d;
  box-shadow: 0px 6px 6px #00000029;
}
.survey-lightbox-container .each-option .option-body img {
  width: 100%;
}
.survey-lightbox-container .option-footer {
  padding: 7px 5px;
}
.survey-lightbox-container .option-footer label {
  font-size: 14px;
  letter-spacing: 0.45px;
  padding-right: 0;
  line-height: 28px;
}
.survey-lightbox-container .option-footer .option-title {
  position: relative;
}
.survey-lightbox-container .option-footer .option-title b {
  padding-left: 25px;
  line-height: 20px;
}
.survey-lightbox-container .each-option .option-footer .check-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #b2b2b2;
  border-radius: 4px 4px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.survey-lightbox-container .each-option .option-footer .check-icon::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -5px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.survey-lightbox-container .each-option.checked .option-footer .check-icon {
  background-color: #d0af6d;
  border-color: #d0af6d;
}
.survey-lightbox-container
  .each-option.checked
  .option-footer
  .check-icon::after {
  opacity: 1;
}
.survey-lightbox-container .survey-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.survey-lightbox-container.result .survey-footer {
  display: none;
}
.survey-lightbox-container .main-btn-container {
  text-align: right;
}
.survey-lightbox-container .error-tip {
  color: red;
  margin-bottom: 10px;
}
.survey-lightbox-container.result .error-tip {
  display: none;
}
.survey-lightbox-container button.btn-primary .submit {
  display: none;
}
.survey-lightbox-container button.btn-primary.last-step .submit {
  display: block;
}
.survey-lightbox-container button.btn-primary.last-step .next {
  display: none;
}
.survey-lightbox-container .survey-footer a:not(.btn),
.survey-lightbox-container .result-footer a:not(.btn) {
  text-decoration: underline;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
.survey-lightbox-container a.prev-step {
  display: none;
}
.survey-lightbox-container .result-footer {
  display: none;
  align-items: center;
  justify-content: center;
}
.survey-lightbox-container.result .result-footer {
  display: flex;
}
.survey-lightbox-container a.restart-btn {
  margin-left: 20px;
}
#dy-survey-lightbox .no-result-tip {
  width: 65%;
  height: auto;
  background-image: linear-gradient(-90deg, #fff 45%, #dbdbdb);
  border-radius: 0;
  border: 0 none;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
  padding: 45px 28px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}
#dy-survey-lightbox .no-result-tip .tip-content {
  margin-bottom: 2rem;
}
#dy-survey-lightbox .no-result-tip .button-container {
  text-align: center;
}
@media (max-width: 1200px) {
  .survey-lightbox-container {
    width: 75%;
  }
  .survey-lightbox-container.result {
    width: 85%;
  }
}
@media (max-width: 992px) {
  .survey-lightbox-container {
    width: 85%;
  }
  .survey-lightbox-container.result {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .survey-lightbox-container {
    width: 95%;
  }
  .survey-lightbox-container .survey-steps {
    width: 100%;
  }
  .survey-lightbox-container.result .survey-options-container {
    flex-direction: column;
  }
  .survey-lightbox-container.result .survey-options-container li {
    margin-bottom: 2rem;
  }
  #dy-restaurant-survey-box {
    width: 100%;
  }
  #dy-restaurant-survey-box .survey-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #dy-restaurant-survey-box .survey-container button {
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .survey-lightbox-container {
    margin-top: 3rem;
    padding: 15px;
  }
  .survey-lightbox-container .survey-options {
    margin-bottom: 2rem;
  }
  .survey-lightbox-container .each-option {
    flex: 0 1 49%;
    box-shadow: 0px 6px 6px #00000029;
    border: none;
  }
  .survey-lightbox-container .each-option.checked {
    border: none;
  }
  .survey-lightbox-container .option-footer .option-title b {
    padding: 0;
    font-size: 18px;
  }
  .survey-lightbox-container .each-option .option-footer .check-icon {
    display: none;
  }
  .survey-lightbox-container button.btn-primary {
    display: none;
  }
  .survey-lightbox-container a {
    font-size: 18px;
  }
  .survey-lightbox-container .survey-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .survey-lightbox-container .survey-footer .main-btn-container {
    display: none;
  }
  .survey-lightbox-container .result-footer {
    flex-direction: column;
  }
  .survey-lightbox-container .result-footer .btn-secondary {
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-bottom: 2rem;
  }
  #dy-survey-lightbox .no-result-tip {
    width: 95%;
  }
}
