.temp-oph-wrap {
  background-color: #ffffd3;
  padding: 15px 30px;
  margin-top: 15px;
}
.temp-body {
  font-size: 14px;
}
@media (max-width: 767px) {
  .temp-oph-wrap {
    background-color: #ffffd3;
    padding: 10px 35px;
    margin-top: 15px;
  }
  .temp-body {
    font-size: 12px;
  }
}
