.hotel-overlay {
  width: 310px;
  height: auto;
  background: white;
  box-shadow: 0px 0px 10px rgba(220, 213, 203, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  position: relative;
}
@media (min-width: 480px) {
  .hotel-overlay {
    width: 388px;
  }
}
.img-wrap {
  width: 100%;
}
.title-wrap {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0;
}
.button-wrap {
  flex-basis: 12%;
}
.hotel-overlay .close-btn {
  position: absolute;
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTUgNTUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDU1IDU1IiB4bWw6c3BhY2U9InByZXNlcnZlIj48ZyBpZD0iY2xvc2UiPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNDMuNSwxNC43IDQwLjMsMTEuNSAyNy41LDI0LjMgMTQuNywxMS41IDExLjUsMTQuNyAyNC4zLDI3LjUgMTEuNSw0MC4zIDE0LjcsNDMuNSAyNy41LDMwLjcgNDAuMyw0My41IDQzLjUsNDAuMyAzMC43LDI3LjUgIi8+PC9nPjwvc3ZnPg==)
    #575757;
  top: -8px;
  right: -9px;
  border: none;
  transition: opacity 0.15s;
  opacity: 0.7;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 2px;
  width: 18px;
  height: 18px;
  border-radius: 30px;
}
.hotel-overlay .close-btn:hover {
  opacity: 1;
}
.hotel-overlay .link-btn {
  width: 100%;
  font-size: 14px;
  color: #151515;
  text-shadow: 0 1px 2px hsla(0, 0%, 100%, 0.6);
  background: #cfac55;
  background-image: url(https://www.marinabaysands.com/static/marinabaysands/headlibs/images/bg-pattern-button.png);
  padding: 12px;
  border-radius: 3.5px;
  border: none;
  background-size: 100%;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.hotel-overlay .link-btn:hover {
  background-color: #d2ad49 !important;
  background-image: url(https://www.marinabaysands.com/static/marinabaysands/headlibs/images/bg-pattern-button-hover.png);
  color: #151515 !important;
}
.overlay-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  background: rgba(40, 40, 40, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
