.dy-widget-container {
  width: 465px;
  display: flex;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 9999;
  background: white;
  box-shadow: 0 0.25rem 0.25rem 0 rgb(0 0 0 / 25%);
  height: 165px;
}
.dy-close-btn {
  position: absolute;
  top: -0.3rem;
  right: 0.3rem;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dy-close-btn:hover {
  color: #ac8c4c;
}
.dy-widget-container .img-container {
  flex-direction: 0 1 50%;
}
.dy-widget-container .img-container img {
  width: 100%;
  height: 100%;
}
.dy-widget-container .text-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.dy-widget-container .btn.btn-primary {
  height: 30px;
  line-height: 30px !important;
}
@media (max-width: 500px) {
  .dy-widget-container {
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -0.25rem 0.25rem 0 rgb(0 0 0 / 25%);
    height: 145px;
  }
  .dy-widget-container h6,
  .dy-widget-container p {
    font-size: 14px !important;
  }
  .dy-widget-container .text-container {
    flex: 0 1 auto;
  }
  .dy-widget-container .text-container {
    padding: 15px;
  }
}
@media (max-width: 330px) {
  .dy-widget-container .text-container {
    line-height: 10px;
  }
}
